.b-reviews-form{
  background-color: white;
}
.b-black-block{
  background-color: #343a40;
  height: 15px;
  padding-bottom: 10px;
}
.b-review-img-change{
  padding-top: 35px;
}
.b-sort{
  padding-top: 10px;
}