.b-header{
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.b-content{
  background-color: #489048;
  height: 500px;
}

.b-footer{
  background-color: #616d84;
  height: 150px;
}
h1{
  color: white;
}