//////////// icons ///

.arrow-circle-bottom{
  background: url('../../../App/Asserts/svg/arrow-circle-bottom.svg') no-repeat;
  background-size: 105%;
  width: 15px;
  height: 15px;
  position: absolute;
  margin: 2px 0 0 4px;
}

.arrow-circle-top{
  background: url('../../../App/Asserts/svg/arrow-circle-top.svg') no-repeat;
  background-size: 105%;
  width: 15px;
  height: 15px;
  position: absolute;
  margin: 2px 0 0 19px;
  &-active{
    background: url('../../../App/Asserts/svg/arrow-circle-top.svg') no-repeat;
    background-size: 105%;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 1px solid #1b31ff;
    position: absolute;
    margin: 2px 0 0 19px;
  }
}



/////////////////
.b-reviews-action{
  float: right;
}
.b-logotip a:hover{
  text-decoration:none !important;
}
.b-logotip{
  display: inline-block;
}
.b-header-menu{
  display: inline-block;
  padding-bottom: 5px;
  padding-left: 20px;
  vertical-align: middle;
  color: white;
}
.b-header-menu a{
  color: #6fb96f;
}
.b-header-menu a:hover{
  text-decoration:none !important;
  color: white;
}

.b-change-admin{
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 10px;
}
.b-sort-reviews span{
  cursor: pointer;
}
.b-sort-reviews{
  display: inline-block;
}
.b-sort-reviews-title{
  display: inline-block;
}
.b-review{
  padding-bottom: 10px;
}
.b-sort-reviews{
  padding-bottom: 10px;
}
.b-reviews-form-btnblock{
  padding-top: 15px;
}
.b-header {
  background-color: #343a40;
  box-shadow: 0 0 3px 0 ;
}

.b-content {
  padding-top: 56px;
  padding-bottom: 30px;
  & .container {
    background-color: #6fb96f;
  }
}
.b-footer-content{
  padding-top: 6px;
}
.b-footer {
  background-color: #343a40;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}
html,
body {
  height: 100%;
}
.b-main {
  position: relative;
  min-height: 100%;
  background-color: #489048;
}

h1, h2, h3 {
  color: white;
}

.b-error {
  padding-top: 5px;
  font-size: 80%;
  color: #dc3545;
  line-height: 1;
}

.b-user{
  color: white;
  padding-right: 15px;
}

.b-reviews{

}