{% block footer %}
<div class="row b-footer">
    <div class="container">
        <div class="row text-center text-white b-footer-content">
            <div class="col-12">
                <span class="b-copyright">© 2018 </span>
            </div>
        </div>
    </div>
</div>

{% endblock %}
