
{% block header %}

    {#Header#}
    <div class="row b-header fixed-top align-items-center">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-7">
                    <div class="b-logotip">
                        <a href="/"><div><h1 class="text-left">Reviews</h1></div></a>
                    </div>
                    <div class="b-header-menu">
                     {% if user.userRole and user.userRole < 10 %}
                        <span><a href="/admin">Administration</a></span>
                     {% endif %}
                    </div>
                </div>

                <div class="col-5 text-right">
                    {% if not user.userName %}
                    <form class="m-0" action="/login/" method="post">
                        <div class="form-group-sm">
                            <label><input class="form-control form-control-sm" placeholder="Login" name="login" type="text"></label>
                            <label><input class="form-control form-control-sm" placeholder="Password" name="password" type="text"></label>
                            <input class=" btn-sm btn-primary" type="submit" value="Sing in">
                        </div>
                    </form>
                    {% else %}
                        <form class="m-0" action="/logout/" method="get">
                            <div class="form-group-sm">
                                <span class="b-user"><b>{{ user.userName }}</b></span>
                                <input class=" btn-sm btn-primary" type="submit" value="Logout">
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {#end header#}

{% endblock %}