{% extends 'layout.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block header %}
{% include 'header.twig' %}
{% endblock %}

{% block content %}

        {#Content#}
        <div class="row b-content">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2>content</h2>

                    </div>
                </div>
            </div>
        </div>
        {#end content#}

    {#Footer#}
    {#<div class="container-fluid">#}
        {#<div class="row b-footer">#}
            {#<div class="container">#}
                {#<div class="row">#}
                    {#<div class="col">#}

                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

{% endblock %}