{% extends 'layout.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}


    <div class="container-fluid">
        {#Header#}
        <div class="row b-header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="text-center">Отзывы</h1>
                    </div>
                </div>
            </div>
        </div>
        {#Content#}
        <div class="row b-content">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2>content</h2>
                    </div>
                </div>
            </div>
        </div>
        {#Footer#}
        <div class="row b-footer">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3>footer</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}