{% extends 'layout.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block header %}
    {% include 'header.twig' %}
{% endblock %}

{% block content %}

    {#Content#}
    <div class="row b-content">
        <div class="container">
            <div class="row b-reviews">
                <div class="col-12">
                    <div class="b-sort-reviews">
                        <span><b>Sort by:</b></span>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option1" autocomplete="off"> Name
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option2" autocomplete="off"> Email
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Date
                            </label>
                        </div>
                    </div>
                    {% for review in reviews %}
                        <div class="row b-review">
                            <div class="col-4 b-review-img">
                                <img src="../../App/Asserts/img/img1.jpg" alt="">
                            </div>
                            <div class="col-8">
                                <div class="b-review-name"><b>Name: </b>{{ review.review_name }}</div>
                                <div class="b-review-email"><b>Email: </b>{{ review.review_email }}</div>
                                <div class="b-review-review">{{ review.review_text }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row justify-content-center b-reviews-form">
                <div class="col-6">
                    <h2 class="text-dark text-center">Add reviews form</h2>
                    <form action="/add" method="post" id="target" novalidate>

                        <div class="form-row ">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="name"></label>
                                    <input type="text" class="form-control" id="name" placeholder="Name" required>
                                    <div class="b-error"></div>
                                </div>
                                <div class="form-group">
                                    <label for="email"></label>
                                    <input type="email" class="form-control" id="email" placeholder="Email" >
                                    <div class="b-error"></div>
                                </div>
                                <div class="form-group">
                                    <label for="review"></label>
                                    <textarea name="review"  placeholder="Review" id="review" cols="74" rows="4"></textarea>
                                    <div class="b-error"></div>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="file">
                                    <label class="custom-file-label" for="file">Choose file...</label>
                                    <div class="b-error"></div>
                                </div>
                                <div class="form-row justify-content-center b-reviews-form-btnblock">
                                    <div class="col-3">
                                        <div class="form-group text-right">
                                            <label for="preview"></label>
                                            <input type="button" class="btn btn-dark b-preview" value="Preview">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="send"></label>
                                            <input type="submit" class="btn btn-dark" id="send" value="Send">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>


        </div>
    </div>
{% endblock %}