<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="App/Asserts/bundle.css">
</head>
<body class="body">
<div class="container-fluid b-main">
{% block header %}
{% endblock %}

{% block content %}
{% endblock %}
    {#end container#}
{% block footer %}
{% endblock %}
</div>
<script src="App/Asserts/bundle.js"></script>
</body>
</html>